<div class="tab-bar" >
  <h1 *ngIf="standings">{{standings.leagueName}}</h1>
  <h1 *ngIf="!standings">FPL Stats Visualizer</h1>
  <div class="gw-info" *ngIf="standings">
    <h3 class="gw-title">{{ currentGw.name }}</h3>

    <div class="gw-stats">
      <span>Average: {{ currentGw.average_entry_score }} </span>
      <span class="separator">|</span>
      <span> Highest: {{ currentGw.highest_score ?? 0 }}</span>
    </div>
  </div>

  <div class="league-search"  #searchContainer>
    <div class="search-input-wrapper">
      <input
      type="number"
      placeholder="Enter League ID"
      [(ngModel)]="leagueIdInput"
      (focus)="showFavourites = true"
      (blur)="hideFavourites()"
      (keyup.enter)="loadLeague()"
      />

      <button
      class="star-btn"
      (click)="toggleFavourite($event)"
      [class.active]="isFavourite"
      aria-label="Favourite league"
      >
      {{isFavourite ? '★' : '☆'}}
      </button>
      
      <div class="favourites-dropdown" *ngIf="showFavourites && favourites.length">
        <div
          class="fav-item"
          *ngFor="let fav of favourites"
          (mousedown)="selectFavourite(fav)"
        >
          ★ {{ fav.name }} ({{ fav.id }})
        </div>
      </div>
    </div>

    <button (click)="loadLeague()">Search</button>

  </div>
</div>
<div class="loading-overlay" *ngIf="loading">
  Loading league…
</div>
<div class="site-info" *ngIf="!standings">
  <h4>To find your League ID, view your league at <a
      href="https://fantasy.premierleague.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="green-text"
    >
      fantasy.premierleague.com
    </a> and look for your League ID in the URL: leagues/<span class="green-text">your-league-id</span>/standings</h4>
</div>

<div *ngIf="error" class="error">
  An error occured. Please check your league ID and try again.
</div>

<div class="standings-table-wrapper">
  <table class="standings-table" *ngIf="standings">
    <thead>
      <tr>
        <th class="small-col">Rank</th>
        <th>Team</th>
        <th>Manager</th>
        <th class="medium-col">GW</th>
        <th class="medium-col">Points</th>
        <th class="medium-col">Points/GW</th>
        <th class="medium-col">Delta</th>
        <th class="medium-col">Points on Bench</th>
        <th class="medium-col">Squad Value</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let player of results">
        <td class="small-col">{{ player.rank }}</td>
        <td>{{ player.entry_name}}</td>
        <td>{{ player.player_name }}</td>
        <td class="chip-played-cell" *ngIf="standings.teams[player.rank-1].squad_by_gw[currentGw.id].active_chip != null; else normalPoints">
          <div class="cell-top">
            {{ player.event_total }}
          </div>

          <div class="cell-chip">
            {{ getChip(standings.teams[player.rank-1].squad_by_gw[currentGw.id].active_chip) }}
          </div>

        </td>
        <ng-template #normalPoints>
          <td class="medium-col">
            {{ player.event_total }}
          </td>
        </ng-template>
        <td class="medium-col">{{ player.total }}</td>
        <td class="medium-col">{{ player.total/(currentGw.id - player.started_event + 1) | number:`1.0-0`}}</td>
        <td class="medium-col">{{ player.points_behind_leader*-1 }}</td>
        <td class="medium-col">{{ player.squad_by_gw[currentGw.id].points_on_bench }}</td>
        <td class="medium-col">{{ player.squad_by_gw[currentGw.id].value/10 }} M</td>
      </tr>
    </tbody>

    <tfoot>
      <tr class="table-footer">
        <td colspan="100%">
          <span>Average Points: {{ avgPts | number:'1.0-0' }}</span>
          <span class="separator">|</span>
          <span>GW Average: {{ gwAvg | number:'1.0-0' }}</span>
          <span class="separator">|</span>
          <span>Average Value: {{ avgVal | number:'1.1-1' }} M</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="chart-params" *ngIf = "standings">
  <div class="chart-params-left">
    <label class="stat-label">
      <select
        [(ngModel)]="selectedStat"
        (change)="getStatValue(standings.teams[0].squad_by_gw[0]); renderChart(chartStartGw, chartEndGw)"
      >
        <option value="totalPoints">Total Points</option>
        <option value="rank">League Standings</option>
        <option value="weeklyRank">GW Standings</option>
        <option value="gwPoints">GW Points</option>
        <option value="squadValue">Squad Value</option>
        <option value="pointsOnBench">Points on Bench</option>
        <option value="goalsScored">Goals Scored</option>
        <option value="assists">Assists</option>
        <option value="cleanSheets">Clean Sheets</option>
        <option value="saves">Saves</option>
      </select>
    </label>
    <div class="chart-params-projections">
      <label *ngIf = "standings && showProjectionsBox">
        Projections
        <input 
          type="checkbox" 
          id="projections" 
          [(ngModel)]="projections" 
          (ngModelChange)="onProjectionsChange($event)">
      </label>
      <label class="stat-label" *ngIf="showProjectionsBox && projections">
        <select
          [(ngModel)]="selectedProjectionStat"
          (change)="renderChart(chartStartGw, chartEndGw)"
        >
          <option value="pointsPerGw">Points per GW</option>
          <option value="teamForm">Team Form</option>
        </select>
      </label>
    </div>
  </div>
  <div class="chart-params-gw">
    <div class="chart-params-gw-cumulative">
      <label *ngIf = "standings && showCumulative">
        Cumulative
        <input 
          type="checkbox" 
          id="cumulative" 
          [(ngModel)]="cumulative" 
          (change)="renderChart(chartStartGw, chartEndGw)">
      </label>
    </div>
    <label>From GW: </label>
    <input
       type="number"
       min="1"
      [max]="chartEndGw-1"
       [(ngModel)]="chartStartGw"
       
       (keyup.enter)="renderChart(chartStartGw, chartEndGw)"
     />
     <label>To GW: </label>
     <input
       type="number"
       [min]="chartStartGw"
       [max]="currentGw.id"
       [(ngModel)]="chartEndGw"
       
       (keyup.enter)="renderChart(chartStartGw, chartEndGw)"
     />
  </div>
</div>

<div class="chart-wrapper">
  <canvas #leagueChart></canvas>
</div>


<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">


  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Owned Players</h3>
     <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>% Owned</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.top10Owned">
            <td>{{ p.player_details?.web_name }}</td>
            <td>{{ p.percent | number:'1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top Point Scorers</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Points</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topPointScorers">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.total_points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top Goal Scorers</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topGoalScorers">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.goals_scored }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  
</div>

<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Clean Sheets</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Clean Sheets</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topCleanSheets">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.clean_sheets }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Saves</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Saves</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topSaves">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.saves }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <div class="header-footnote">
      <h3 class="mini-table-header">Highest Returns*</h3>
      <span>*min 10 starts</span>
    </div>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Pts/GW</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topPointsPerGw">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.points_per_game | number:`1.0-1`}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top DefCons</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>DefCons</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topDefcons">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.defensive_contribution }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<div class="section-separator" *ngIf="standings"></div>