<app-tab-bar 
[currentGw]="this.currentGw"
[idInput]="this.leagueIdInput"
[isLeague]="true"
[title]="standings?.leagueName ?? 'FPL Stats Visualizer'"
></app-tab-bar>
<div class="loading-overlay" *ngIf="loading">
  Loading league…
</div>
<div class="site-info" *ngIf="!standings">
  <h4>To find your League ID, view your league at <a
      href="https://fantasy.premierleague.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="green-text"
    >
      fantasy.premierleague.com</a> 
      and look for your League ID in the URL: leagues/<span class="green-text">your-league-id</span>/standings</h4>
</div>

<div *ngIf="error" class="error">
  An error occured. Please check your league ID and try again.
</div>

<div class="standings-table-wrapper">
  <table class="standings-table" *ngIf="standings">
    <thead>
      <tr>
        <th class="small-col">Rank</th>
        <th>Team</th>
        <th>Manager</th>
        <th class="medium-col">GW</th>
        <th class="medium-col">Points</th>
        <th class="medium-col">Points/GW</th>
        <th class="medium-col">Delta</th>
        <th class="medium-col">Points on Bench</th>
        <th class="medium-col">Squad Value</th>
      </tr>
    </thead>

    <tbody>
      <tr (click)="goToEntry(player.id)" *ngFor="let player of results">
        <td class="small-col">{{ player.rank }}</td>
        <td>{{ player.entry_name}}</td>
        <td>{{ player.player_name }}</td>
        <td class="chip-played-cell" *ngIf="standings.teams[player.rank-1].squad_by_gw[currentGw.id].active_chip != null; else normalPoints">
          <div class="cell-top">
            {{ player.event_total }}
          </div>

          <div class="cell-chip">
            {{ getChip(standings.teams[player.rank-1].squad_by_gw[currentGw.id].active_chip) }}
          </div>

        </td>
        <ng-template #normalPoints>
          <td class="medium-col">
            {{ player.event_total }}
          </td>
        </ng-template>
        <td class="medium-col">{{ player.total }}</td>
        <td class="medium-col">{{ player.total/(currentGw.id - player.started_event + 1) | number:`1.0-0`}}</td>
        <td class="medium-col">{{ player.points_behind_leader*-1 }}</td>
        <td class="medium-col">{{ player.squad_by_gw[currentGw.id].points_on_bench }}</td>
        <td class="medium-col">{{ (player.squad_by_gw[currentGw.id].value-player.squad_by_gw[currentGw.id].bank)/10 }} M</td>
      </tr>
    </tbody>

    <tfoot>
      <tr class="table-footer">
        <td colspan="100%">
          <span>Average Points: {{ avgPts | number:'1.0-0' }}</span>
          <span class="separator">|</span>
          <span>GW Average: {{ gwAvg | number:'1.0-0' }}</span>
          <span class="separator">|</span>
          <span>Average Value: {{ avgVal | number:'1.1-1' }} M</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<app-graph
[teams]="this.standings.teams"
[currentGw]="this.currentGw" *ngIf="standings && currentGw"
[isLeague]="true"
></app-graph>

<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">


  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Owned Players</h3>
     <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>% Owned</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.top10Owned">
            <td>{{ p.player_details?.web_name }}</td>
            <td>{{ p.percent | number:'1.0-0' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top Point Scorers</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Points</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topPointScorers">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.total_points }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top Goal Scorers</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topGoalScorers">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.goals_scored }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  
</div>

<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Clean Sheets</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Clean Sheets</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topCleanSheets">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.clean_sheets }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Most Saves</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Saves</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topSaves">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.saves }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mini-table-wrapper">
    <div class="header-footnote">
      <h3 class="mini-table-header">Highest Returns*</h3>
      <span>*min 10 starts</span>
    </div>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Pts/GW</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topPointsPerGw">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.points_per_game | number:`1.0-1`}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<div class="section-separator" *ngIf="standings"></div>

<div class="mini-table-section" *ngIf="standings">

  <div class="mini-table-wrapper">
    <h3 class="mini-table-header">Top Defcons</h3>
    <div class="mini-table-bg">
      <table class="mini-table" *ngIf="standings">
        <thead>
          <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Defcons</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of standings.topDefcons">
            <td>{{ p.web_name }}</td>
            <td>{{ p.fplTeamName }}</td>
            <td>{{ p.defensive_contribution }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

<div class="section-separator" *ngIf="standings"></div>