<div class="tab-bar" >
  <h1 *ngIf="standings">{{standings.leagueName}}</h1>
  <h1 *ngIf="!standings">FPL Stats Visualizer</h1>
  <div class="gw-info" *ngIf="standings">
    <h3 class="gw-title">{{ currentGw.name }}</h3>

    <div class="gw-stats">
      <span>Average: {{ currentGw.average_entry_score }} </span>
      <span class="separator">|</span>
      <span> Highest: {{ currentGw.highest_score ?? 0 }}</span>
    </div>
  </div>

  <div class="league-search"  #searchContainer>
    <div class="search-input-wrapper">
      <input
      type="number"
      placeholder="Enter League ID"
      [(ngModel)]="leagueIdInput"
      (focus)="showFavourites = true"
      (blur)="hideFavourites()"
      (keyup.enter)="loadLeague()"
      />

      <button
      class="star-btn"
      (click)="toggleFavourite($event)"
      [class.active]="isFavourite"
      aria-label="Favourite league"
      >
      {{isFavourite ? '★' : '☆'}}
      </button>
      
      <div class="favourites-dropdown" *ngIf="showFavourites && favourites.length">
        <div
          class="fav-item"
          *ngFor="let fav of favourites"
          (mousedown)="selectFavourite(fav)"
        >
          ★ {{ fav.name }} ({{ fav.id }})
        </div>
      </div>
    </div>

    <button (click)="loadLeague()">Search</button>

  </div>
</div>

<div class="site-info" *ngIf="!standings">
  <h4>To find your League ID, view your league at <a
      href="https://fantasy.premierleague.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="green-text"
    >
      https://fantasy.premierleague.com/
    </a> and look for your League ID in the URL: leagues/<span class="green-text">your-league-id</span>/standings</h4>
</div>

<table class="standings-table" *ngIf="standings">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Manager</th>
      <th>GW</th>
      <th>Points</th>
      <th>Points/GW</th>
      <th>Delta</th>
      <th>Points on Bench</th>
      <th>Squad Value</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let player of results">
      <td>{{ player.rank }}</td>
      <td>{{ player.entry_name}}</td>
      <td>{{ player.player_name }}</td>
      <td>{{ player.event_total }}</td>
      <td>{{ player.total }}</td>
      <td>{{ player.total/(currentGw.id - player.started_event + 1) | number:`1.0-0`}}</td>
      <td>{{ player.points_behind_leader*-1 }}</td>
      <td>{{ player.squad_by_gw[currentGw.id].points_on_bench }}</td>
      <td>{{ player.squad_by_gw[currentGw.id].value/10 }} M</td>
    </tr>
  </tbody>

  <tfoot>
    <tr class="table-footer">
      <td colspan="100%">
        <span>Average Points: {{ avgPts | number:'1.0-0' }}</span>
        <span class="separator">|</span>
        <span>GW Average: {{ gwAvg | number:'1.0-0' }}</span>
        <span class="separator">|</span>
        <span>Average Value: {{ avgVal | number:'1.1-1' }} M</span>
      </td>
    </tr>
  </tfoot>
</table>

<div class="chart-params" *ngIf = "standings">
  <div class="chart-params-left">
    <label class="stat-label">
      <select
        [(ngModel)]="selectedStat"
        (change)="getStatValue(standings.teams[0].squad_by_gw[0]); renderChart(chartStartGw, chartEndGw)"
      >
        <option value="totalPoints">Total Points</option>
        <option value="rank">League Standings</option>
        <option value="gwPoints">GW Points</option>
        <option value="squadValue">Squad Value</option>
        <option value="pointsOnBench">Points on Bench</option>
        <option value="goalsScored">Goals Scored</option>
        <option value="assists">Assists</option>
        <option value="cleanSheets">Clean Sheets</option>
        <option value="saves">Saves</option>
      </select>
    </label>
    <div class="chart-params-projections">
      <label *ngIf = "standings && showProjectionsBox">
        Show Projections
        <input 
          type="checkbox" 
          id="projections" 
          [(ngModel)]="projections" 
          (ngModelChange)="onProjectionsChange($event)">
      </label>
      <label class="stat-label" *ngIf="showProjectionsBox && projections">
        <select
          [(ngModel)]="selectedProjectionStat"
          (change)="renderChart(chartStartGw, chartEndGw)"
        >
          <option value="pointsPerGw">Points per GW</option>
          <option value="teamForm">Team Form</option>
        </select>
      </label>
    </div>
  </div>
  <div class="chart-params-gw">
    <div class="chart-params-gw-cumulative">
      <label *ngIf = "standings && showCumulative">
        Cumulative
        <input 
          type="checkbox" 
          id="cumulative" 
          [(ngModel)]="cumulative" 
          (change)="renderChart(chartStartGw, chartEndGw)">
      </label>
    </div>
    <label>From GW: </label>
    <input
       type="number"
       min="1"
      [max]="chartEndGw-1"
       [(ngModel)]="chartStartGw"
       
       (keyup.enter)="renderChart(chartStartGw, chartEndGw)"
     />
     <label>To GW: </label>
     <input
       type="number"
       [min]="chartStartGw"
       [max]="currentGw.id"
       [(ngModel)]="chartEndGw"
       
       (keyup.enter)="renderChart(chartStartGw, chartEndGw)"
     />
  </div>
</div>

<div class="chart-wrapper">
  <canvas #leagueChart></canvas>
</div>

