.section-separator{
  background: black;
  size: flex;
  width: 100%;
  height: 30px;
}

h3 {
    color: white;
    padding-left: 8px;
}

.transfer-table {
    color: white;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.transfer-table td {
    text-align: center;
    font-size: large;
    background: rgb(25, 24, 24);
    padding: 12px;
}

.price {
    /* color: gray;  */
    font-size: 0.7rem;
    margin-left: 4px;
    opacity: 0.7;

}


.transfer-table tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.transfer-table tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.positive {
    color: rgb(0, 245, 0)
}

.negative {
    color: rgb(255, 0, 0)
}

@media (max-width: 768px) {

    .transfer-table td {
        font-size: small;
    }

    .site-info {
        font-size: 10px;
    }
}