body {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: black;
  margin: 0;
}
h1, th, tfoot {
  font-weight: 700;
  letter-spacing: 0.02em;
}
:root {
  --pl-purple: #37003c;
  --pl-pink: #ff2882;
  --pl-green: #00ff87;
}
.standings-table thead {
  background: var(--pl-purple);
  color: white;
}
.standings-table td {
  padding: 12px 16px;
  background-color: #00ff87;
  overflow: hidden;
  width: 10%;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  text-overflow: ellipsis; 
  
}
.standings-table tbody tr td {
  color: #000000; 
}
 .chip-played-cell {
  padding: 0 !important;
  position: relative;
  height: 100%;
  width: 5% !important;
}

/*.chip-played-cell > div {

  padding: 0 !important;
  position: relative;   
  overflow: hidden;
}


.cell-top {
  height: 80%;

} */

.cell-chip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 15px; */
  background: #2979ff;
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  /* padding-bottom: -100 !important; */
}
.small-col {
  width: 1% !important;
}
.medium-col {
  width: 5% !important;
}
.table-footer {
  background: var(--pl-purple);
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 10px;
}
.table-footer span {
  margin-left: 12px;
}
.table-footer td{
  text-align: left !important;
  background: var(--pl-purple);
}
.separator {
  opacity: 0.5;
}
.white-separator {
  color: white;
  /* opacity: 0.5; */
  padding: 20px
}
.tab-bar{
  display: flex;
  align-items: center;          
  justify-content: space-between;
  background: var(--pl-purple);
  color: white;
  width: 100;
  min-width: 0;
}
.tab-bar h1{
  padding-left: 20px;
}
.gw-info {
  text-align: center;           
}
.site-info{
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--pl-purple);
  justify-content: center;   
}
.green-text {
  color: var(--pl-green);
}
.gw-title {
  margin: 0;               
  line-height: 1.2;            
}

.gw-stats {
  margin-top: 4px;              
  font-size: 0.9rem;           
}
.league-search {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 20px;
  max-width: 40%;
  min-width: 0;
}
.league-search input {
  height: 35px;
  font-size: 18px;
  width: 100%;
  min-width: 0;
  font-weight: 600;
}
.search-input-wrapper{
  position: relative; 
  display: flex;
  flex: 1;
}
.league-search button{
  background-color: var(--pl-pink);
  font-size: 18px;
  height: 40px;
}
.favourites-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: black;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  z-index: 10;
}

.fav-item {
  padding: 8px 12px;
  cursor: pointer;
}

.fav-item:hover {
  background: #f2f2f2;
}
.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;           
  height: 100vh;

  font-size: 20px;
  font-weight: 600;
  z-index: 1000;
}

.chart-wrapper {
  /* width: 100%; */
  /* height: 700px; */
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
.chart-params {
  display: flex;
  align-items: center;
}
.chart-params-left{
    display: flex;
    align-items: center;
  /* padding-right: 20px; */
}
.chart-params-projections {
  align-items: center;
  padding-left: 20px;
  display: flex;
}
.chart-params-gw {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  padding-right: 20px;
  font-family: 'Montserrat', system-ui, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.chart-params-gw-cumulative {
  padding-right: 20px;
}

.chart-params-gw-cumulative label {
  gap: 2px;
}
.chart-params-gw input[type="number"] {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 60px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--pl-purple);
  color: white;
  padding-left: 5px;
}
.chart-params label{
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.stat-label {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
  /* gap: 8px; */
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
  
}

.stat-label select {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;
  justify-content: center;
  line-height: 1;      

  padding: 6px 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;

  
  background-color: var(--pl-purple);  
  color: white;

  cursor: pointer;
}

.stat-label select option {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: white;
  color: black;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mini-table-section{
  display: flex;
  background-color: var(--pl-purple);
  /* gap: 30px; */
  justify-content: space-evenly;
  /* padding-left: 30px; */
}
.mini-table-wrapper {
  display: inline-block;  
}

/* Header */
.mini-table-header {
  margin: 0;                  /* remove default h3 gap */
  padding: 12px 16px;
  /* background: var(--pl-purple); */
  color: white;
  text-align: center;
  width: 100%;                /* same width as table */
  box-sizing: border-box;
}

/* Table */
.mini-table {
  /* border-collapse: separate; */
  width: 100%;
   /* border: 3px solid black;         */
}

/* Table header row */
.mini-table thead {
  background: var(--pl-purple);
  color: white;
}

.mini-table th{
  padding: 12px 16px;
  text-align: center;
}
.mini-table td {
  padding: 12px 16px;
  text-align: center;
  /* border: 1px solid black;         */
}

.mini-table-bg{
  background-color: black;
}
/* Body cells */
.mini-table td {
  background-color: #00ff87;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-separator{
  background: var(--pl-purple);
  size: flex;
  width: 100%;
  height: 30px;
}