body {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: black;
  margin: 0;
}
h1, th, tfoot {
  font-weight: 700;
  letter-spacing: 0.02em;
}
:root {
  --pl-purple: #37003c;
  --pl-pink: #ff2882;
  --pl-green: #00ff87;
}

.standings-table-wrapper {
  width: 100%;
  /* overflow-x: auto; */
}

.standings-table {
    min-width: 600px;
}

.standings-table thead {
  background: var(--pl-purple);
  color: white;
}
.standings-table td {
  padding: 12px 16px;
  background-color: #00ff87;
  overflow: hidden;
  width: 10%;
  border-collapse: collapse;
  text-align: center;
  table-layout: auto;
  text-overflow: ellipsis; 
  
}
.standings-table tbody tr td {
  color: #000000; 
}
 .chip-played-cell {
  padding: 0 !important;
  position: relative;
  height: 100%;
  width: 5% !important;
}

.cell-chip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 15px; */
  background: #2979ff;
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  /* padding-bottom: -100 !important; */
}
.small-col {
  width: 1% !important;
}
.medium-col {
  width: 5% !important;
}
.table-footer {
  background: var(--pl-purple);
  color: white;
  width: 100%;
  font-weight: 600;
  padding: 10px;
}
.table-footer span {
  margin-left: 12px;
}
.table-footer td{
  text-align: left !important;
  background: var(--pl-purple);
}
.separator {
  opacity: 0.5;
}
.white-separator {
  color: white;
  /* opacity: 0.5; */
  padding: 20px
}
.tab-bar{
  display: flex;
  align-items: center;          
  justify-content: space-between;
  background: var(--pl-purple);
  color: white;
  width: 100;
  min-width: 0;
}
.tab-bar h1{
  padding-left: 20px;
}
.gw-info {
  text-align: center;           
}
.site-info{
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--pl-purple);
  justify-content: center;   
}
.error{
  color: white;
  display: flex;
  align-items: center;
  background-color: red;
  justify-content: center;   
  height: 30px;
}
.green-text {
  color: var(--pl-green);
}
.gw-title {
  margin: 0;               
  line-height: 1.2;            
}

.gw-stats {
  margin-top: 4px;              
  font-size: 0.9rem;           
}
.league-search {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 20px;
  max-width: 40%;
  min-width: 0;
}
.league-search input {
  height: 44px;
  font-size: 18px;
  width: 100%;
  min-width: 0;
  font-weight: 600;
}
.search-input-wrapper{
  position: relative; 
  display: flex;
  flex: 1;
}
.league-search button{
  background-color: var(--pl-pink);
  font-size: 18px;
  height: 44px;
}
.favourites-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  color: black;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  z-index: 10;
}

.fav-item {
  padding: 8px 12px;
  cursor: pointer;
}

.fav-item:hover {
  background: #f2f2f2;
}
.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;           
  height: 100vh;

  font-size: 20px;
  font-weight: 600;
  z-index: 1000;
}

.chart-wrapper {
  display: flex;
  width: 98%;
  max-width: 98%;
  margin: 0 auto; 
  overflow: hidden;
}

.chart-wrapper canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  display: block;
}

.chart-params {
  display: flex;
  align-items: center;
}
.chart-params-left{
    display: flex;
    align-items: center;
  /* padding-right: 20px; */
}
.chart-params-projections {
  align-items: center;
  padding-left: 20px;
  display: flex;
}
.chart-params-gw {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  padding-right: 20px;
  font-family: 'Montserrat', system-ui, sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.chart-params-gw-cumulative {
  padding-right: 20px;
}

.chart-params-gw-cumulative label {
  gap: 2px;
}
.chart-params-gw input[type="number"] {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width: 60px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--pl-purple);
  color: white;
  padding-left: 5px;
}
.chart-params label{
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.stat-label {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  align-items: center;
  /* gap: 8px; */
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
}

.stat-label select {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;
  justify-content: center;
  line-height: 1;      

  padding: 6px 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;

  
  background-color: var(--pl-purple);  
  color: white;

  cursor: pointer;
}

.stat-label select option {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: white;
  color: black;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.mini-table-section{
  justify-content: center;
  background-color: var(--pl-purple);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  padding: 12px;
}
.mini-table-wrapper {
  display: inline-block;  
  max-width: 500px;
}

/* Header */
.mini-table-header {
  margin: 0;                 
  padding: 12px 16px;
  /* background: var(--pl-purple); */
  color: white;
  text-align: center;
  width: 100%;                
  box-sizing: border-box;
}

.header-footnote{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.header-footnote h3{
  flex: 1;                
  text-align: center;
}

.header-footnote span{
  font-size: 10px;
  white-space: nowrap;
  color: white;
  
  flex-shrink: 1;
  min-width: 0;
  padding-left: 12px;
}



/* Table */
.mini-table {
  width: 100%;
}

/* Table header row */
.mini-table thead {
  background: var(--pl-purple);
  color: white;
}

.mini-table th{
  padding: 12px 16px;
  text-align: center;
}
.mini-table td {
  padding: 12px 16px;
  text-align: center;
  /* border: 1px solid black;         */
}

.mini-table-bg{
  background-color: black;
}
/* Body cells */
.mini-table td {
  background-color: #00ff87;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-separator{
  background: var(--pl-purple);
  size: flex;
  width: 100%;
  height: 30px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .tab-bar {
    flex-direction: column;
    align-items: stretch;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  .league-search {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    flex-direction: column;     
    align-items: center;
    gap: 8px;
  
  }

  .search-input-wrapper {
    width: 100%;
  }

  .league-search input {
    width: 100%;
    height: 44px;             
    font-size: 16px;            
  }

  .league-search button {
    width: 75%;
    height: 44px;
    font-size: 16px;
  }
  
  .star-btn{
    width: 25% !important;
  }

  .favourites-dropdown {
    left: 0;
    right: 0;
    width: 100%;
    max-height: 50vh;          
  }

  .fav-item {
    padding: 12px 14px;        
    font-size: 16px;
  }

  .gw-title {
    font-size: 1.1rem;
    white-space: normal;
  }

  .gw-stats {
    font-size: 0.85rem;
  }


  .error {
    font-size: 0.7rem;
  }

  .standings-table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  .table-footer {
    font-size: 0.7rem;
  }

  /* .standings-table th:nth-child(1),
  .standings-table td:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 5;
    background-color: #00ff87;
  }

  .standings-table th:nth-child(2),
  .standings-table td:nth-child(2) {
    position: sticky;
    left: px; 
    z-index: 5;
    background-color: #00ff87;
  } 
}*/

  table {
    font-size: 0.8rem;  
  }

  th, tfoot {
    font-size: 0.8rem;
    white-space: nowrap; 
  }

  td {
    font-size: 0.8rem;
    padding: 8px 10px;   
    white-space: nowrap; 
  }

  label {
    font-size: 0.8rem;
  }

  .chart-wrapper {
    margin-left: -8px;  
    margin-right: -8px;
  }

  .chart-wrapper canvas {
    min-height: 400px;  
    max-height: 400px;
  }

  .chart-params {
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .chart-params label {
    font-size: 12px;
  }

  .chart-params-gw {
    font-size: 12px;
    padding-right: 2px;
    gap: 6px;
  }

  .chart-params-gw input[type="number"] {
    width: 44px;
    font-size: 14px;
    padding-left: 4px;
  }

  .chart-params label,
  .chart-params .stat-label {
    font-size: 10px !important;
    line-height: 1.2;
    font-weight: 500;
    padding-left: 8px !important;
  }

  .chart-params select {
    font-size: 10px !important;
    height: 28px;
  }

  .chart-params input[type="checkbox"] {
    transform: scale(0.9);
  }

  .mini-table td,
  .mini-table th {
    white-space: normal;     
    
  }
}

button, .clickable {
  min-height: 44px;
  min-width: 44px;
}